apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sogo
resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - certificate.yaml
  - ingressroute.yaml
