apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: incluster-vpn-tailscale-state
  namespace: incluster-vpn
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Mi
