apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mailu
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:FR19/vps-infra.git
    targetRevision: main
    path: deploy/argocd/apps/mailu
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: mailu
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
