{{- if and .Values.argo-cd.server.ingress.enabled (eq .Values.argo-cd.server.ingress.controller "generic") }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: argocd-wrapper
    app.kubernetes.io/component: redirect
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}
