apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale-dns
  namespace: tailscale-dns
  labels:
    app.kubernetes.io/name: tailscale-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: tailscale-dns
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tailscale-dns
    spec:
      containers:
        - name: coredns
          image: coredns/coredns:1.11.1
          args:
            - -conf
            - /etc/coredns/Corefile
          ports:
            - name: dns
              containerPort: 53
              protocol: UDP
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/coredns
              readOnly: true
          resources:
            requests:
              memory: 16Mi
              cpu: 10m
            limits:
              memory: 64Mi
              cpu: 100m
      volumes:
        - name: config
          configMap:
            name: tailscale-dns-config
