apiVersion: v1
kind: Service
metadata:
  name: tailscale-dns
  namespace: tailscale-dns
  labels:
    app.kubernetes.io/name: tailscale-dns
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: tailscale-dns
  ports:
    - name: dns
      port: 53
      targetPort: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
