apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: octelium-ingress
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: vps-platform
  source:
    repoURL: git@github.com:FR19/vps-infra.git
    targetRevision: main
    path: deploy/argocd/apps/octelium-ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: octelium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false  # octelium ns created by octops init
